{
  "parser": "babel-eslint",
  "extends": "frigg/react",
  "rules": {
    "comma-dangle": [2, "always-multiline"],
    "new-cap": [2, { "capIsNewExceptions": ["List", "Map", "OrderedMap"] }],
    "no-param-reassign": 0,
    "no-undef": 1,
    "no-unused-vars": 2,
    "react/jsx-uses-react": 1,
    "react/no-multi-comp": 0,
    "react/sort-comp": 0
  },
  "ecmaFeatures": {
    "templateStrings": true,
  },
  "env": {
    "browser": true
  },
  "globals": {
    "global": false,
    "sinon": false,
    "expect": false,
    "fixtures": false,
  }
}
