{
  "parser": "babel-eslint",
  "extends": "airbnb/react",
  "rules": {
    "react/jsx-quotes": 0,
    "react/sort-comp": 0,
    "react/no-multi-comp": 0,
    "no-param-reassign": 0,
    "no-undef": 1,
    "comma-dangle": [2, "always-multiline"],
    "new-cap": [2, { "capIsNewExceptions": ["List", "Map", "OrderedMap"] }]
  },
  "env": {
    "browser": true
  },
  "globals": {
    "global": true
  }
}
