@import variables

.alerts
  position fixed
  top 0
  left 0
  width: 100%

.alert
  padding 0.8em 0
  background-color alert-background
  color alert-text
  text-align center

  a
    color alert-text

  .fa
    margin-right 0.2em
    color alert-text

  &.alert-error
    background-color alert-background-error

  &.alert-warning
    background-color alert-background-warning

  &.alert-success
    background-color alert-background-success

.alert-enter
  opacity 0.01
  transition opacity .6s ease-in

  &.alert-enter-active
    opacity 1

.alert-leave
  opacity 1
  transition opacity .6s ease-in

  &.alert-leave-active
    opacity 0.01
