@import variables

.text-left
  text-align left

.text-center
  text-align center

.text-right
  text-align right

.meta
  color meta-text-color

  a
    color meta-text-color

.fa
  &.green
    color: build-color-green

  &.red
    color: build-color-red

  &.orange
    color: build-color-orange

.loading
  margin 4em
  color link-color

  &.minimal
    margin: 0.4em

.icon-links
  text-decoration none
