@import variables
global-reset()

html
  height 100%

body
  height 100%
  font-size 18px
  font-family Lato, sans-serif
  font-weight 300
  margin 0

a
  color link-color

h1, h2, h3, h4, h5
  font-weight 400

@import layout
@import helpers
@import buttons
@import alerts
@import builds
@import projects
@import workers
