link-color = #789
meta-text-color = silver

build-color-green = #468847
build-color-red = #d9534f
build-color-orange = #f0ad4e
build-background-green = #dff0d8
build-background-red = #fdf7f7
build-background-orange = #fcf8f2

code-background = #eee

alert-background = #F9F9FF
alert-background-error = build-background-red
alert-background-warning = build-background-orange
alert-background-success = build-background-green
alert-text = #789
